.infoPautasList{
    font-size: 12px;
    margin-bottom:5px; 
    float: right;
    text-align: right;
}

.imgList{
    width: 160px;
    height: 100px;
    -moz-box-shadow: 2px 1px 10px #525252;
    -webkit-box-shadow: 2px 1px 10px #525252;
    box-shadow: 2px 1px 10px #525252;
}
